a.button.destroyer, .button, .buttonright
	float: right !important
	padding: 4px
	margin: 0 0 0 0.5em
	background: $primary-dark
	color: $white !important
	@include border-radius(3px)
	border: 1px solid $primary-darker
	border-bottom-width: 2px
	@include box-shadow(0, 0, 0, transparent)
	&:hover
		border-color: $primary-darkest
		background: $primary-darker
		color: $primary
		@include box-shadow(0, 1px, 2px, rgba($grey-darker, 0.5))
	&:active, &:focus
		background: $primary-darker
		@include transition(0.3s ease all)
		@include box-shadow(0, 2px, 3px, rgba($grey-darker, 0.5))

.matchmain
	.buttonright
		float: right !important
		padding: 4px
		margin: 0 0 0 0.5em
		background: $secondary
		color: $white !important
		@include border-radius(3px)
		border: 1px solid $secondary-dark
		border-bottom-width: 2px
		@include box-shadow(0, 0, 0, transparent)
		&:hover
			border-color: $secondary-darker
			background: $secondary-dark
			color: $secondary
			@include box-shadow(0, 1px, 2px, rgba($grey-darker, 0.5))
		&:active, &:focus
			background: $secondary-dark
			@include transition(0.3s ease all)
			@include box-shadow(0, 2px, 3px, rgba($grey-darker, 0.5))
