// Layout

body
	background: $grey-lightest
	font-family: 'Arimo', sans-serif
	text-shadow: none !important
	a
		@include transition (0.3s ease all)
		&:hover, &:active, &:focus
			@include transition(0.1s ease all)

header
	background: $primary
	@include box-shadow(0, 1px, 2px, rgba($grey, 0.5))
	a img#logo
		@include css3-prefix(filter, brightness(1000))
	nav#menu
		a
			color: $white
			font-weight: bold
			text-shadow: none
			text-transform: capitalize
			width: 70px
			padding: 0 10px 10px 10px
			border: 2px solid transparent
			@include border-radius(0)
			&:hover, &:active, &:focus
				@include border-radius(0)
				background-color: rgba($black, 0.05)
				border: 2px solid rgba($black, 0.02)
			img
				@include css3-prefix(filter, brightness(1000))
	#login, #logout
		margin-top: 0.7em !important


main
	section.box, section
		background: transparent
		@include box-shadow(0, 0, 0, transparent)
		margin-left: 0
		margin-right: 0
		padding: 0
		&:first-child
			margin-right: 1em
		.title
			@include transition(0.5s ease all)
			@include css3-prefix(filter, brightness(0.25))
			&:hover, &:active, &:focus
				@include css3-prefix(filter, brightness(1))
				@include transition(0.1s ease all)
				a
					color: $grey
					text-shadow: none
			a
				color: $grey-darkest
		/* Lounge destroyer filter options */
		.ld-trade-filters, .ld-match-filters
			margin: 50px 9px -2em 1%
			background: $white
			width: 100%
			@include box-shadow(0, 1px, 2px, rgba($grey, 0.5))
		/* Trade section */
		article.standard#tradelist
			.tradepoll
				margin: 0.5em 0 0.5em 0
				background: $white
				float: left
				width: 100%
				padding: 1%
				border-top: 2px solid $primary
				@include box-shadow(0, 1px, 2px, rgba($grey, 0.5))
				@include border-radius-separate(0, 0, 3px, 3px)
				.tradeheader
					background: $grey-lightest
					border: 1px solid darken($grey-lightest, 5)
					margin-bottom: 0.5em
					a:first-child img
						margin-top: 0.3em
					a.button.destroyer
						float: right !important
						padding: 4px
						margin: 0 0 0 0.5em
						background: $primary-dark
						color: $white !important
						@include border-radius(3px)
						border: 1px solid $primary-darker
						border-bottom-width: 2px
						@include box-shadow(0, 0, 0, transparent)
						&:hover
							border-color: $primary-darkest
							background: $primary-darker
							color: $primary
							@include box-shadow(0, 1px, 2px, rgba($grey-darker, 0.5))
						&:active, &:focus
							background: $primary-darker
							@include transition(0.3s ease all)
							@include box-shadow(0, 2px, 3px, rgba($grey-darker, 0.5))
				.tradecnt
					.left, .right
						background: $white
						@include box-shadow(0, 0, 0, transparent)
						.oitm
							.item
								background: rgba($grey, 0.3)
							.item.Star
								background: rgba(#8650ac, 0.3)
					.left
						.oitm
							float: right
				.ld-steam-extra-wrapper .ld-steam-extra
					background: $grey-lightest
					border: 1px solid darken($grey-lightest, 5)
					.ld-steam-info
						border-color: rgba($primary, 0.3)
						.ld-steam-img
							padding-top: 3px
							img
								border: 2px solid $primary
				.trade-description
					background: $white
					border: 1px solid darken($grey-lightest, 5)
					border-left: 2px solid $primary
					&div
						color: $black
					@include border-radius(0)
					p
						opacity: 1
						border-left: 0
						@include border-radius(0)
						color: $black
				.ld-steam-extra-wrapper .ld-steam-extra
					@include border-radius(0)
					&::after
						background-image: none
		article.standard
			.matchmain
				margin-bottom: 1em
				.match
					margin: 0
					background-color: $white
					float: left
					width: 100%
					padding: 1%
					background-repeat: no-repeat
					background-position: right
					@include box-shadow(0, 1px, 2px, rgba($grey, 0.5))
					@include border-radius-separate(0, 0, 3px, 3px)
					.matchleft
						a > div:first-child, a > div:last-child
							position: relative
							width: 44% !important
							background: $grey-lightest
							border: 1px solid darken($grey-lightest, 5)
							.teamtext
								background: transparent
							.team
								border: 2px solid rgb(184,184,184)
								@include border-radius(0)
						a > div:first-child
							.team
								right: 0
				.matchheader
					text-shadow: none !important
					width: 100%
					margin-bottom: 0
					background: $white
					border-bottom: 1px solid darken($grey-lightest, 5)
					@include box-shadow(0, 1px, 2px, rgba($grey, 0.5))
					border-top: 2px solid $secondary
					.whenm
						text-shadow: none !important

aside
	&#submenu
		background: transparent
		nav
			margin-top: 0.5em
			a
				background: $white
				border-top: none
				border-bottom: 2px solid $grey-darkest
				color: $grey-darkest
				margin-bottom: 0.25em
				&:hover
					background: lighten($grey-lightest, 2)
					color: $primary-darker
					@include border-radius(0)
					border-color: $primary
		#follow a
			opacity: 0.4
			@include css3-prefix(filter, brightness(0))
			&:hover
				opacity: 0.6
		#follow a#ftw:hover
			background-position: 0 0 !important
		#follow a#ffb:hover
			background-position: -44px 0 !important
		#follow a#fvk:hover
			background-position: -79px 0 !important
		footer
			margin-top: -30px
			text-align: right
			a:hover
				color: darken(#ff8a00, 10)

