//Navbar
header
	background: $primary-light
	@include box-shadow(0, 1px, 2px, rgba($grey, 0.5))
	a img#logo
		@include css3-prefix(filter, brightness(1000))
	nav#menu
		a
			min-height: 53px
			color: $white
			font-weight: bold
			text-shadow: none
			text-transform: capitalize
			width: 90px
			padding: 0 5px 5px 5px
			@include border-radius(0)
			&:hover, &:active, &:focus
				@include border-radius(0)
				background-color: rgba($black, 0.05)
			img
				@include css3-prefix(filter, grayscale(1))
				@include css3-prefix(filter, brightness(1000))

//Sidebar
aside
	&#submenu
		background: transparent
		nav
			margin-top: 0.5em
			a
				background: $white
				color: $grey-darkest
				margin-bottom: 0.25em
				border-bottom: 2px solid $white
				border-top: 2px solid $white
				&:hover
					background: lighten($grey-lightest, 5)
					border-bottom-color: $primary
					border-top-color: lighten($grey-lightest, 5)
					@include border-radius(0)
		#follow a
			opacity: 0.3
			@include css3-prefix(filter, brightness(0))
			&:hover
				opacity: 0.4
		#follow a#ftw:hover
			background-position: 0 0 !important
		#follow a#ffb:hover
			background-position: -44px 0 !important
		#follow a#fvk:hover
			background-position: -79px 0 !important
		footer
			margin-top: -30px
			text-align: right
			a:hover
				color: darken(#ff8a00, 10)
