@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
body {
  background: whitesmoke;
  font-family: "Arimo", sans-serif;
  text-shadow: none !important; }
  body a {
    -webkit-transition: 0.3s ease all;
    -khtml-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all; }
    body a:hover, body a:active, body a:focus {
      -webkit-transition: 0.1s ease all;
      -khtml-transition: 0.1s ease all;
      -moz-transition: 0.1s ease all;
      -ms-transition: 0.1s ease all;
      -o-transition: 0.1s ease all;
      transition: 0.1s ease all; }

header {
  background: #5fe5d0;
  -webkit-box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
  -khtml-box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
  -ms-box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
  -o-box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
  box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5); }
  header a img#logo {
    -webkit-filter: brightness(1000);
    -khtml-filter: brightness(1000);
    -moz-filter: brightness(1000);
    -ms-filter: brightness(1000);
    -o-filter: brightness(1000);
    filter: brightness(1000); }
  header nav#menu a {
    color: #fff;
    font-weight: bold;
    text-shadow: none;
    text-transform: capitalize;
    width: 70px;
    padding: 0 10px 10px 10px;
    border: 2px solid transparent;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }
    header nav#menu a:hover, header nav#menu a:active, header nav#menu a:focus {
      -webkit-border-radius: 0;
      -khtml-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      background-color: rgba(0, 0, 0, 0.05);
      border: 2px solid rgba(0, 0, 0, 0.02); }
    header nav#menu a img {
      -webkit-filter: brightness(1000);
      -khtml-filter: brightness(1000);
      -moz-filter: brightness(1000);
      -ms-filter: brightness(1000);
      -o-filter: brightness(1000);
      filter: brightness(1000); }
  header #login, header #logout {
    margin-top: 0.7em !important; }

main section.box, main section {
  background: transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  -khtml-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 transparent;
  -o-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  /* Lounge destroyer filter options */
  /* Trade section */ }
  main section.box:first-child, main section:first-child {
    margin-right: 1em; }
  main section.box .title, main section .title {
    -webkit-transition: 0.5s ease all;
    -khtml-transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -ms-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;
    -webkit-filter: brightness(0.25);
    -khtml-filter: brightness(0.25);
    -moz-filter: brightness(0.25);
    -ms-filter: brightness(0.25);
    -o-filter: brightness(0.25);
    filter: brightness(0.25); }
    main section.box .title:hover, main section.box .title:active, main section.box .title:focus, main section .title:hover, main section .title:active, main section .title:focus {
      -webkit-filter: brightness(1);
      -khtml-filter: brightness(1);
      -moz-filter: brightness(1);
      -ms-filter: brightness(1);
      -o-filter: brightness(1);
      filter: brightness(1);
      -webkit-transition: 0.1s ease all;
      -khtml-transition: 0.1s ease all;
      -moz-transition: 0.1s ease all;
      -ms-transition: 0.1s ease all;
      -o-transition: 0.1s ease all;
      transition: 0.1s ease all; }
      main section.box .title:hover a, main section.box .title:active a, main section.box .title:focus a, main section .title:hover a, main section .title:active a, main section .title:focus a {
        color: #b5b5b5;
        text-shadow: none; }
    main section.box .title a, main section .title a {
      color: dimgray; }
  main section.box .ld-trade-filters, main section.box .ld-match-filters, main section .ld-trade-filters, main section .ld-match-filters {
    margin: 50px 9px -2em 1%;
    background: #fff;
    width: 100%;
    -webkit-box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
    -khtml-box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
    -moz-box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
    -ms-box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
    -o-box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
    box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5); }
  main section.box article.standard#tradelist .tradepoll, main section article.standard#tradelist .tradepoll {
    margin: 0.5em 0 0.5em 0;
    background: #fff;
    float: left;
    width: 100%;
    padding: 1%;
    border-top: 2px solid #5fe5d0;
    -webkit-box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
    -khtml-box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
    -moz-box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
    -ms-box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
    -o-box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
    box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; }
    main section.box article.standard#tradelist .tradepoll .tradeheader, main section article.standard#tradelist .tradepoll .tradeheader {
      background: whitesmoke;
      border: 1px solid #e8e8e8;
      margin-bottom: 0.5em; }
      main section.box article.standard#tradelist .tradepoll .tradeheader a:first-child img, main section article.standard#tradelist .tradepoll .tradeheader a:first-child img {
        margin-top: 0.3em; }
      main section.box article.standard#tradelist .tradepoll .tradeheader a.button.destroyer, main section article.standard#tradelist .tradepoll .tradeheader a.button.destroyer {
        float: right !important;
        padding: 4px;
        margin: 0 0 0 0.5em;
        background: #33dec3;
        color: #fff !important;
        -webkit-border-radius: 3px;
        -khtml-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #1fbfa6;
        border-bottom-width: 2px;
        -webkit-box-shadow: 0 0 0 transparent;
        -khtml-box-shadow: 0 0 0 transparent;
        -moz-box-shadow: 0 0 0 transparent;
        -ms-box-shadow: 0 0 0 transparent;
        -o-box-shadow: 0 0 0 transparent;
        box-shadow: 0 0 0 transparent; }
        main section.box article.standard#tradelist .tradepoll .tradeheader a.button.destroyer:hover, main section article.standard#tradelist .tradepoll .tradeheader a.button.destroyer:hover {
          border-color: #147d6d;
          background: #1fbfa6;
          color: #5fe5d0;
          -webkit-box-shadow: 0 1px 2px rgba(143, 143, 143, 0.5);
          -khtml-box-shadow: 0 1px 2px rgba(143, 143, 143, 0.5);
          -moz-box-shadow: 0 1px 2px rgba(143, 143, 143, 0.5);
          -ms-box-shadow: 0 1px 2px rgba(143, 143, 143, 0.5);
          -o-box-shadow: 0 1px 2px rgba(143, 143, 143, 0.5);
          box-shadow: 0 1px 2px rgba(143, 143, 143, 0.5); }
        main section.box article.standard#tradelist .tradepoll .tradeheader a.button.destroyer:active, main section.box article.standard#tradelist .tradepoll .tradeheader a.button.destroyer:focus, main section article.standard#tradelist .tradepoll .tradeheader a.button.destroyer:active, main section article.standard#tradelist .tradepoll .tradeheader a.button.destroyer:focus {
          background: #1fbfa6;
          -webkit-transition: 0.3s ease all;
          -khtml-transition: 0.3s ease all;
          -moz-transition: 0.3s ease all;
          -ms-transition: 0.3s ease all;
          -o-transition: 0.3s ease all;
          transition: 0.3s ease all;
          -webkit-box-shadow: 0 2px 3px rgba(143, 143, 143, 0.5);
          -khtml-box-shadow: 0 2px 3px rgba(143, 143, 143, 0.5);
          -moz-box-shadow: 0 2px 3px rgba(143, 143, 143, 0.5);
          -ms-box-shadow: 0 2px 3px rgba(143, 143, 143, 0.5);
          -o-box-shadow: 0 2px 3px rgba(143, 143, 143, 0.5);
          box-shadow: 0 2px 3px rgba(143, 143, 143, 0.5); }
    main section.box article.standard#tradelist .tradepoll .tradecnt .left, main section.box article.standard#tradelist .tradepoll .tradecnt .right, main section article.standard#tradelist .tradepoll .tradecnt .left, main section article.standard#tradelist .tradepoll .tradecnt .right {
      background: #fff;
      -webkit-box-shadow: 0 0 0 transparent;
      -khtml-box-shadow: 0 0 0 transparent;
      -moz-box-shadow: 0 0 0 transparent;
      -ms-box-shadow: 0 0 0 transparent;
      -o-box-shadow: 0 0 0 transparent;
      box-shadow: 0 0 0 transparent; }
      main section.box article.standard#tradelist .tradepoll .tradecnt .left .oitm .item, main section.box article.standard#tradelist .tradepoll .tradecnt .right .oitm .item, main section article.standard#tradelist .tradepoll .tradecnt .left .oitm .item, main section article.standard#tradelist .tradepoll .tradecnt .right .oitm .item {
        background: rgba(181, 181, 181, 0.3); }
      main section.box article.standard#tradelist .tradepoll .tradecnt .left .oitm .item.Star, main section.box article.standard#tradelist .tradepoll .tradecnt .right .oitm .item.Star, main section article.standard#tradelist .tradepoll .tradecnt .left .oitm .item.Star, main section article.standard#tradelist .tradepoll .tradecnt .right .oitm .item.Star {
        background: rgba(134, 80, 172, 0.3); }
    main section.box article.standard#tradelist .tradepoll .tradecnt .left .oitm, main section article.standard#tradelist .tradepoll .tradecnt .left .oitm {
      float: right; }
    main section.box article.standard#tradelist .tradepoll .ld-steam-extra-wrapper .ld-steam-extra, main section article.standard#tradelist .tradepoll .ld-steam-extra-wrapper .ld-steam-extra {
      background: whitesmoke;
      border: 1px solid #e8e8e8; }
      main section.box article.standard#tradelist .tradepoll .ld-steam-extra-wrapper .ld-steam-extra .ld-steam-info, main section article.standard#tradelist .tradepoll .ld-steam-extra-wrapper .ld-steam-extra .ld-steam-info {
        border-color: rgba(95, 229, 208, 0.3); }
        main section.box article.standard#tradelist .tradepoll .ld-steam-extra-wrapper .ld-steam-extra .ld-steam-info .ld-steam-img, main section article.standard#tradelist .tradepoll .ld-steam-extra-wrapper .ld-steam-extra .ld-steam-info .ld-steam-img {
          padding-top: 3px; }
          main section.box article.standard#tradelist .tradepoll .ld-steam-extra-wrapper .ld-steam-extra .ld-steam-info .ld-steam-img img, main section article.standard#tradelist .tradepoll .ld-steam-extra-wrapper .ld-steam-extra .ld-steam-info .ld-steam-img img {
            border: 2px solid #5fe5d0; }
    main section.box article.standard#tradelist .tradepoll .trade-description, main section article.standard#tradelist .tradepoll .trade-description {
      background: #fff;
      border: 1px solid #e8e8e8;
      border-left: 2px solid #5fe5d0;
      -webkit-border-radius: 0;
      -khtml-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0; }
      main section.box article.standard#tradelist .tradepoll .trade-descriptiondiv, main section article.standard#tradelist .tradepoll .trade-descriptiondiv {
        color: #000; }
      main section.box article.standard#tradelist .tradepoll .trade-description p, main section article.standard#tradelist .tradepoll .trade-description p {
        opacity: 1;
        border-left: 0;
        -webkit-border-radius: 0;
        -khtml-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        color: #000; }
    main section.box article.standard#tradelist .tradepoll .ld-steam-extra-wrapper .ld-steam-extra, main section article.standard#tradelist .tradepoll .ld-steam-extra-wrapper .ld-steam-extra {
      -webkit-border-radius: 0;
      -khtml-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0; }
      main section.box article.standard#tradelist .tradepoll .ld-steam-extra-wrapper .ld-steam-extra::after, main section article.standard#tradelist .tradepoll .ld-steam-extra-wrapper .ld-steam-extra::after {
        background-image: none; }
  main section.box article.standard .matchmain, main section article.standard .matchmain {
    margin-bottom: 1em; }
    main section.box article.standard .matchmain .match, main section article.standard .matchmain .match {
      margin: 0;
      background-color: #fff;
      float: left;
      width: 100%;
      padding: 1%;
      background-repeat: no-repeat;
      background-position: right;
      -webkit-box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
      -khtml-box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
      -moz-box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
      -ms-box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
      -o-box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
      box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
      -webkit-border-top-left-radius: 0;
      -webkit-border-top-right-radius: 0;
      -webkit-border-bottom-right-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-topright: 0;
      -moz-border-radius-bottomright: 3px;
      -moz-border-radius-bottomleft: 3px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px; }
      main section.box article.standard .matchmain .match .matchleft a > div:first-child, main section.box article.standard .matchmain .match .matchleft a > div:last-child, main section article.standard .matchmain .match .matchleft a > div:first-child, main section article.standard .matchmain .match .matchleft a > div:last-child {
        position: relative;
        width: 44% !important;
        background: whitesmoke;
        border: 1px solid #e8e8e8; }
        main section.box article.standard .matchmain .match .matchleft a > div:first-child .teamtext, main section.box article.standard .matchmain .match .matchleft a > div:last-child .teamtext, main section article.standard .matchmain .match .matchleft a > div:first-child .teamtext, main section article.standard .matchmain .match .matchleft a > div:last-child .teamtext {
          background: transparent; }
        main section.box article.standard .matchmain .match .matchleft a > div:first-child .team, main section.box article.standard .matchmain .match .matchleft a > div:last-child .team, main section article.standard .matchmain .match .matchleft a > div:first-child .team, main section article.standard .matchmain .match .matchleft a > div:last-child .team {
          border: 2px solid #b8b8b8;
          -webkit-border-radius: 0;
          -khtml-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
          border-radius: 0; }
      main section.box article.standard .matchmain .match .matchleft a > div:first-child .team, main section article.standard .matchmain .match .matchleft a > div:first-child .team {
        right: 0; }
    main section.box article.standard .matchmain .matchheader, main section article.standard .matchmain .matchheader {
      text-shadow: none !important;
      width: 100%;
      margin-bottom: 0;
      background: #fff;
      border-bottom: 1px solid #e8e8e8;
      -webkit-box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
      -khtml-box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
      -moz-box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
      -ms-box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
      -o-box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
      box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);
      border-top: 2px solid #E91E63; }
      main section.box article.standard .matchmain .matchheader .whenm, main section article.standard .matchmain .matchheader .whenm {
        text-shadow: none !important; }

aside#submenu {
  background: transparent; }
  aside#submenu nav {
    margin-top: 0.5em; }
    aside#submenu nav a {
      background: #fff;
      border-top: none;
      border-bottom: 2px solid dimgray;
      color: dimgray;
      margin-bottom: 0.25em; }
      aside#submenu nav a:hover {
        background: #fafafa;
        color: #1fbfa6;
        -webkit-border-radius: 0;
        -khtml-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        border-color: #5fe5d0; }
  aside#submenu #follow a {
    opacity: 0.4;
    -webkit-filter: brightness(0);
    -khtml-filter: brightness(0);
    -moz-filter: brightness(0);
    -ms-filter: brightness(0);
    -o-filter: brightness(0);
    filter: brightness(0); }
    aside#submenu #follow a:hover {
      opacity: 0.6; }
  aside#submenu #follow a#ftw:hover {
    background-position: 0 0 !important; }
  aside#submenu #follow a#ffb:hover {
    background-position: -44px 0 !important; }
  aside#submenu #follow a#fvk:hover {
    background-position: -79px 0 !important; }
  aside#submenu footer {
    margin-top: -30px;
    text-align: right; }
    aside#submenu footer a:hover {
      color: #cc6e00; }
