a.button.destroyer, .button
	padding: 8px 10px
	margin: 0 0.5em 0 0
	background: $white
	color: $primary !important
	+border-radius(0)
	text-transform: uppercase
	font-weight: 700
	font-size: 12px !important
	line-height: 1.5em
	border: none
	text-shadow: none !important
	+box-shadow(0 0 0 transparent)
	&:hover
		background: $primary
		color: $white !important
		+box-shadow(0 0 0 transparent)
	&:active, &:focus
		background: $primary
		color: $white !important
		+box-shadow(0 2px 3px rgba($grey-darker, 0.5))

.buttonright
	padding: 8px 10px
	margin: 0 0 0 0.5em
	background: $primary
	color: $white !important
	+border-radius(0)
	text-transform: uppercase
	font-weight: 700
	font-size: 12px !important
	border: none
	text-shadow: none !important
	+box-shadow(0 0 0 transparent)
	line-height: 1.5em
	&:hover
		background: $primary-light
		color: $white !important
		+box-shadow(0 0 0 transparent)
	&:active, &:focus
		background: $primary-light
		color: $white !important
		+transition(0.3s ease all)
		+box-shadow(0 2px 3px rgba($grey-darker, 0.5))

#profile .srch .button
	@extend .buttonright


.matchmain, .bpheader
	a.button.destroyer, .button, .buttonright
		background: $secondary
		color: $white !important
		+border-radius(0)
		+box-shadow(0 0 0 transparent)
		line-height: 1.5em
		&:hover
			background: $secondary-light
			+box-shadow(0 0 0 transparent)
		&:active, &:focus
			background: $secondary-light
			+box-shadow(0 2px 3px rgba($grey-darker, 0.5))

.matchheader
	.buttonright
		background: $secondary-dark
		color: $white !important
		+border-radius(0)
		+box-shadow(0 0 0 transparent)
		&:hover
			background: $secondary-darker
			+box-shadow(0 0 0 transparent)
		&:active, &:focus
			background: $secondary-darker

.tradepoll .tradeheader span a.button
	float: left !important

.box-shiny-alt
	.button
		float: right
		&:nth-child(7), &:nth-child(8)
			margin-top: 1em
