//Navbar
header
	background: url("//1lumino.com/dev/MaterialLounge/img/nav.jpg")
	min-height: 70px
	background-position: 300px -50px
	background-color: $nav-background
	+box-shadow(0 1px 2px rgba($grey, 0.5))
	float: left
	width: 100%
	a[href="/"]
		float: left
		img#logo
			+filter(brightness(1000))
	nav#menu
		float: left
		a
			height: 70px
			color: $white
			text-shadow: none
			text-transform: capitalize
			font-weight: bold
			padding: 0 5px 5px 5px
			+border-radius(0)
			&:hover, &:active, &:focus
				+border-radius(0)
				background-color: rgba($white, 0.2)
			img
				+filter(grayscale(1) brightness(1000))
	a#login
		margin: 12px 0 0 10px !important
		height: 50px !important
		width: 50px !important
		+filter(grayscale(1) brightness(1000))
		background-image: url("http://csgolounge.com/img/sign_in.png")
		background-repeat: no-repeat !important
	a#logout
		height: 40px
		width: 40px
		margin: 12px 0 0 10px
		background-image: url("//1lumino.com/dev/MaterialLounge/img/logout.png")
		background-repeat: no-repeat
		background-size: cover

// Mobile views
#mt
	> div
		color: $white
		background-color: $nav-background
		&:hover
			background: $nav-background-light

//Sidebar
aside
	&#submenu
		background: transparent
		nav
			margin-top: 1.85em
			a
				background: $white
				color: $grey-darkest
				margin-bottom: 0.25em
				border-bottom: 2px solid $white
				border-top: 2px solid $white
				&:hover
					background: lighten($grey-lightest, 5)
					border-bottom-color: $primary
					border-top-color: lighten($grey-lightest, 5)
					+border-radius(0)
		#follow a
			opacity: 1
			+filter(brightness(100) saturate(0))
			&:hover
				+filter(brightness(50) saturate(0))
				opacity: 0.6
		#follow a#ftw:hover
			background-position: 0 0 !important
		#follow a#ffb:hover
			background-position: -44px 0 !important
		#follow a#fvk:hover
			background-position: -79px 0 !important
		footer
			margin-top: -30px
			text-align: right
			a:hover
				color: darken(#ff8a00, 10)
.ld-main
	aside#submenu
		nav
			margin-top: 6.25em

