@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,500,500italic,700italic,900italic,400italic,300,300italic);
body {
  background: #e8e8e8;
  font-family: "Roboto", sans-serif;
  text-shadow: none !important; }
  body a {
    text-shadow: none;
    -moz-transition: linear 0.3s all;
    -o-transition: linear 0.3s all;
    -webkit-transition: linear 0.3s all;
    transition: linear 0.3s all; }
    body a:hover, body a:active, body a:focus {
      -moz-transition: linear 0.1s all;
      -o-transition: linear 0.1s all;
      -webkit-transition: linear 0.1s all;
      transition: linear 0.1s all; }
  body * {
    box-sizing: border-box; }

main section.box, main section {
  background: transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1em;
  padding-right: 1em;
  width: 50%;
  /* Lounge destroyer filter options */
  /* Article */
  /* Panels */
  /* Betting section */ }
  main section.box:first-child, main section:first-child {
    padding-right: 0; }
  main section.box a, main section a {
    color: #58a436;
    text-shadow: none; }
    main section.box a:hover, main section.box a:active, main section.box a:focus, main section a:hover, main section a:active, main section a:focus {
      color: #437d2a; }
  main section.box .title, main section .title {
    -moz-transition: ease 0.5s all;
    -o-transition: ease 0.5s all;
    -webkit-transition: ease 0.5s all;
    transition: ease 0.5s all;
    -webkit-filter: brightness(0);
    filter: brightness(0); }
    main section.box .title:hover, main section.box .title:active, main section.box .title:focus, main section .title:hover, main section .title:active, main section .title:focus {
      -webkit-filter: brightness(0);
      filter: brightness(0);
      -moz-transition: ease 0.1s all;
      -o-transition: ease 0.1s all;
      -webkit-transition: ease 0.1s all;
      transition: ease 0.1s all; }
      main section.box .title:hover a, main section.box .title:active a, main section.box .title:focus a, main section .title:hover a, main section .title:active a, main section .title:focus a {
        color: #a8a8a8;
        text-shadow: none; }
    main section.box .title a, main section .title a {
      color: #5b5b5b; }
  main section.box .ld-trade-filters, main section.box .ld-match-filters, main section .ld-trade-filters, main section .ld-match-filters {
    margin: 4em 0 -1.5em 0;
    padding: 1em;
    width: 100%;
    background: #fff;
    height: auto;
    -moz-box-shadow: 0 1px 2px rgba(168, 168, 168, 0.5);
    -webkit-box-shadow: 0 1px 2px rgba(168, 168, 168, 0.5);
    box-shadow: 0 1px 2px rgba(168, 168, 168, 0.5); }
    main section.box .ld-trade-filters a, main section.box .ld-match-filters a, main section .ld-trade-filters a, main section .ld-match-filters a {
      font-weight: bold;
      color: #000;
      text-shadow: none; }
      main section.box .ld-trade-filters a:hover, main section.box .ld-trade-filters a:active, main section.box .ld-trade-filters a:focus, main section.box .ld-match-filters a:hover, main section.box .ld-match-filters a:active, main section.box .ld-match-filters a:focus, main section .ld-trade-filters a:hover, main section .ld-trade-filters a:active, main section .ld-trade-filters a:focus, main section .ld-match-filters a:hover, main section .ld-match-filters a:active, main section .ld-match-filters a:focus {
        color: #000; }
  main section.box article.standard, main section article.standard {
    width: 100%;
    margin: 2.5em 0 0 0 !important; }
    main section.box article.standard .full, main section article.standard .full {
      margin: 0;
      padding: 0.5em 1em; }
  main section.box article.standard#tradelist a, main section article.standard#tradelist a {
    text-shadow: none; }
  main section.box article.standard#tradelist .tradepoll .tradeheader, main section article.standard#tradelist .tradepoll .tradeheader {
    border-bottom: 2px solid #ff8a00; }
  main section.box article.standard#bets .matchmain .matchheader, main section article.standard#bets .matchmain .matchheader {
    border-bottom: 2px solid #6fc34a; }
  main section.box .tradepoll, main section.box .matchmain, main section .tradepoll, main section .matchmain {
    margin: 0 0 1em 0;
    background: #fff;
    float: left;
    width: 100%;
    padding: 0;
    -moz-box-shadow: 0 1px 2px rgba(168, 168, 168, 0.5);
    -webkit-box-shadow: 0 1px 2px rgba(168, 168, 168, 0.5);
    box-shadow: 0 1px 2px rgba(168, 168, 168, 0.5);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    main section.box .tradepoll .tradeheader, main section.box .tradepoll .matchheader, main section.box .matchmain .tradeheader, main section.box .matchmain .matchheader, main section .tradepoll .tradeheader, main section .tradepoll .matchheader, main section .matchmain .tradeheader, main section .matchmain .matchheader {
      width: 100%;
      margin: 0;
      background: #fff;
      border-top: 0;
      padding: 1em;
      height: 55px; }
      main section.box .tradepoll .tradeheader a, main section.box .tradepoll .matchheader a, main section.box .matchmain .tradeheader a, main section.box .matchmain .matchheader a, main section .tradepoll .tradeheader a, main section .tradepoll .matchheader a, main section .matchmain .tradeheader a, main section .matchmain .matchheader a {
        font-weight: bold;
        color: #000;
        text-shadow: none; }
        main section.box .tradepoll .tradeheader a img, main section.box .tradepoll .matchheader a img, main section.box .matchmain .tradeheader a img, main section.box .matchmain .matchheader a img, main section .tradepoll .tradeheader a img, main section .tradepoll .matchheader a img, main section .matchmain .tradeheader a img, main section .matchmain .matchheader a img {
          -webkit-filter: brightness(0);
          filter: brightness(0); }
        main section.box .tradepoll .tradeheader a + span, main section.box .tradepoll .matchheader a + span, main section.box .matchmain .tradeheader a + span, main section.box .matchmain .matchheader a + span, main section .tradepoll .tradeheader a + span, main section .tradepoll .matchheader a + span, main section .matchmain .tradeheader a + span, main section .matchmain .matchheader a + span {
          min-height: 28px; }
        main section.box .tradepoll .tradeheader a span.donor, main section.box .tradepoll .matchheader a span.donor, main section.box .matchmain .tradeheader a span.donor, main section.box .matchmain .matchheader a span.donor, main section .tradepoll .tradeheader a span.donor, main section .tradepoll .matchheader a span.donor, main section .matchmain .tradeheader a span.donor, main section .matchmain .matchheader a span.donor {
          text-shadow: none;
          background: #6fd3ff;
          padding: 0 2px;
          margin-left: 20px;
          position: relative; }
          main section.box .tradepoll .tradeheader a span.donor:before, main section.box .tradepoll .matchheader a span.donor:before, main section.box .matchmain .tradeheader a span.donor:before, main section.box .matchmain .matchheader a span.donor:before, main section .tradepoll .tradeheader a span.donor:before, main section .tradepoll .matchheader a span.donor:before, main section .matchmain .tradeheader a span.donor:before, main section .matchmain .matchheader a span.donor:before {
            width: 20px;
            height: 20px;
            content: "";
            background: url(../img/donor.png) no-repeat;
            position: absolute;
            left: -20px;
            top: 0; }
        main section.box .tradepoll .tradeheader a span.donor2, main section.box .tradepoll .matchheader a span.donor2, main section.box .matchmain .tradeheader a span.donor2, main section.box .matchmain .matchheader a span.donor2, main section .tradepoll .tradeheader a span.donor2, main section .tradepoll .matchheader a span.donor2, main section .matchmain .tradeheader a span.donor2, main section .matchmain .matchheader a span.donor2 {
          text-shadow: none;
          background: #6780ff;
          padding: 0 2px;
          margin-left: 20px;
          position: relative; }
          main section.box .tradepoll .tradeheader a span.donor2:before, main section.box .tradepoll .matchheader a span.donor2:before, main section.box .matchmain .tradeheader a span.donor2:before, main section.box .matchmain .matchheader a span.donor2:before, main section .tradepoll .tradeheader a span.donor2:before, main section .tradepoll .matchheader a span.donor2:before, main section .matchmain .tradeheader a span.donor2:before, main section .matchmain .matchheader a span.donor2:before {
            width: 20px;
            height: 20px;
            content: "";
            background: url(../img/donor2.png) no-repeat;
            position: absolute;
            left: -20px;
            top: 0; }
        main section.box .tradepoll .tradeheader a span.donor3, main section.box .tradepoll .matchheader a span.donor3, main section.box .matchmain .tradeheader a span.donor3, main section.box .matchmain .matchheader a span.donor3, main section .tradepoll .tradeheader a span.donor3, main section .tradepoll .matchheader a span.donor3, main section .matchmain .tradeheader a span.donor3, main section .matchmain .matchheader a span.donor3 {
          text-shadow: none;
          background: #be9ef8;
          padding: 0 2px;
          margin-left: 20px;
          position: relative; }
          main section.box .tradepoll .tradeheader a span.donor3:before, main section.box .tradepoll .matchheader a span.donor3:before, main section.box .matchmain .tradeheader a span.donor3:before, main section.box .matchmain .matchheader a span.donor3:before, main section .tradepoll .tradeheader a span.donor3:before, main section .tradepoll .matchheader a span.donor3:before, main section .matchmain .tradeheader a span.donor3:before, main section .matchmain .matchheader a span.donor3:before {
            width: 20px;
            height: 20px;
            content: "";
            background: url(../img/donor3.png) no-repeat;
            position: absolute;
            left: -20px;
            top: 0; }
        main section.box .tradepoll .tradeheader a span.donor4, main section.box .tradepoll .matchheader a span.donor4, main section.box .matchmain .tradeheader a span.donor4, main section.box .matchmain .matchheader a span.donor4, main section .tradepoll .tradeheader a span.donor4, main section .tradepoll .matchheader a span.donor4, main section .matchmain .tradeheader a span.donor4, main section .matchmain .matchheader a span.donor4 {
          text-shadow: none;
          background: #ffaf00;
          padding: 0 2px;
          margin-left: 20px;
          position: relative; }
          main section.box .tradepoll .tradeheader a span.donor4:before, main section.box .tradepoll .matchheader a span.donor4:before, main section.box .matchmain .tradeheader a span.donor4:before, main section.box .matchmain .matchheader a span.donor4:before, main section .tradepoll .tradeheader a span.donor4:before, main section .tradepoll .matchheader a span.donor4:before, main section .matchmain .tradeheader a span.donor4:before, main section .matchmain .matchheader a span.donor4:before {
            width: 20px;
            height: 20px;
            content: "";
            background: url(../img/donor4.png) no-repeat;
            position: absolute;
            left: -20px;
            top: 0; }
      main section.box .tradepoll .tradeheader a.button.destroyer, main section.box .tradepoll .matchheader a.button.destroyer, main section.box .matchmain .tradeheader a.button.destroyer, main section.box .matchmain .matchheader a.button.destroyer, main section .tradepoll .tradeheader a.button.destroyer, main section .tradepoll .matchheader a.button.destroyer, main section .matchmain .tradeheader a.button.destroyer, main section .matchmain .matchheader a.button.destroyer {
        float: right !important; }
      main section.box .tradepoll .tradeheader a:first-child img, main section.box .tradepoll .matchheader a:first-child img, main section.box .matchmain .tradeheader a:first-child img, main section.box .matchmain .matchheader a:first-child img, main section .tradepoll .tradeheader a:first-child img, main section .tradepoll .matchheader a:first-child img, main section .matchmain .tradeheader a:first-child img, main section .matchmain .matchheader a:first-child img {
        margin-top: 0.4em; }
      main section.box .tradepoll .tradeheader span, main section.box .tradepoll .matchheader span, main section.box .matchmain .tradeheader span, main section.box .matchmain .matchheader span, main section .tradepoll .tradeheader span, main section .tradepoll .matchheader span, main section .matchmain .tradeheader span, main section .matchmain .matchheader span {
        font-weight: normal; }
      main section.box .tradepoll .tradeheader .whenm, main section.box .tradepoll .tradeheader .eventm, main section.box .tradepoll .matchheader .whenm, main section.box .tradepoll .matchheader .eventm, main section.box .matchmain .tradeheader .whenm, main section.box .matchmain .tradeheader .eventm, main section.box .matchmain .matchheader .whenm, main section.box .matchmain .matchheader .eventm, main section .tradepoll .tradeheader .whenm, main section .tradepoll .tradeheader .eventm, main section .tradepoll .matchheader .whenm, main section .tradepoll .matchheader .eventm, main section .matchmain .tradeheader .whenm, main section .matchmain .tradeheader .eventm, main section .matchmain .matchheader .whenm, main section .matchmain .matchheader .eventm {
        font-weight: bold;
        line-height: 20px;
        text-shadow: none !important; }
        main section.box .tradepoll .tradeheader .whenm span, main section.box .tradepoll .tradeheader .eventm span, main section.box .tradepoll .matchheader .whenm span, main section.box .tradepoll .matchheader .eventm span, main section.box .matchmain .tradeheader .whenm span, main section.box .matchmain .tradeheader .eventm span, main section.box .matchmain .matchheader .whenm span, main section.box .matchmain .matchheader .eventm span, main section .tradepoll .tradeheader .whenm span, main section .tradepoll .tradeheader .eventm span, main section .tradepoll .matchheader .whenm span, main section .tradepoll .matchheader .eventm span, main section .matchmain .tradeheader .whenm span, main section .matchmain .tradeheader .eventm span, main section .matchmain .matchheader .whenm span, main section .matchmain .matchheader .eventm span {
          font-weight: normal; }
      main section.box .tradepoll .tradeheader .bettedIndicator, main section.box .tradepoll .matchheader .bettedIndicator, main section.box .matchmain .tradeheader .bettedIndicator, main section.box .matchmain .matchheader .bettedIndicator, main section .tradepoll .tradeheader .bettedIndicator, main section .tradepoll .matchheader .bettedIndicator, main section .matchmain .tradeheader .bettedIndicator, main section .matchmain .matchheader .bettedIndicator {
        vertical-align: middle;
        font-size: 25px;
        color: #6fc34a; }
    main section.box .tradepoll .tradecnt, main section.box .tradepoll .match, main section.box .matchmain .tradecnt, main section.box .matchmain .match, main section .tradepoll .tradecnt, main section .tradepoll .match, main section .matchmain .tradecnt, main section .matchmain .match {
      background-color: transparent;
      width: 100%;
      padding: 0.5em 1em;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      -moz-box-shadow: 0 0 0 transparent;
      -webkit-box-shadow: 0 0 0 transparent;
      box-shadow: 0 0 0 transparent; }
      main section.box .tradepoll .tradecnt a, main section.box .tradepoll .match a, main section.box .matchmain .tradecnt a, main section.box .matchmain .match a, main section .tradepoll .tradecnt a, main section .tradepoll .match a, main section .matchmain .tradecnt a, main section .matchmain .match a {
        font-weight: bold; }
      main section.box .tradepoll .tradecnt .left, main section.box .tradepoll .tradecnt .right, main section.box .tradepoll .match .left, main section.box .tradepoll .match .right, main section.box .matchmain .tradecnt .left, main section.box .matchmain .tradecnt .right, main section.box .matchmain .match .left, main section.box .matchmain .match .right, main section .tradepoll .tradecnt .left, main section .tradepoll .tradecnt .right, main section .tradepoll .match .left, main section .tradepoll .match .right, main section .matchmain .tradecnt .left, main section .matchmain .tradecnt .right, main section .matchmain .match .left, main section .matchmain .match .right {
        background: #fff;
        -moz-box-shadow: 0 0 0 transparent;
        -webkit-box-shadow: 0 0 0 transparent;
        box-shadow: 0 0 0 transparent; }
      main section.box .tradepoll .tradecnt .left .oitm, main section.box .tradepoll .match .left .oitm, main section.box .matchmain .tradecnt .left .oitm, main section.box .matchmain .match .left .oitm, main section .tradepoll .tradecnt .left .oitm, main section .tradepoll .match .left .oitm, main section .matchmain .tradecnt .left .oitm, main section .matchmain .match .left .oitm {
        float: right; }
      main section.box .tradepoll .tradecnt hr + div.full span, main section.box .tradepoll .match hr + div.full span, main section.box .matchmain .tradecnt hr + div.full span, main section.box .matchmain .match hr + div.full span, main section .tradepoll .tradecnt hr + div.full span, main section .tradepoll .match hr + div.full span, main section .matchmain .tradecnt hr + div.full span, main section .matchmain .match hr + div.full span {
        line-height: 25px; }
      main section.box .tradepoll .tradecnt .winsorloses, main section.box .tradepoll .match .winsorloses, main section.box .matchmain .tradecnt .winsorloses, main section.box .matchmain .match .winsorloses, main section .tradepoll .tradecnt .winsorloses, main section .tradepoll .match .winsorloses, main section .matchmain .tradecnt .winsorloses, main section .matchmain .match .winsorloses {
        background: transparent;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0; }
        main section.box .tradepoll .tradecnt .winsorloses a, main section.box .tradepoll .match .winsorloses a, main section.box .matchmain .tradecnt .winsorloses a, main section.box .matchmain .match .winsorloses a, main section .tradepoll .tradecnt .winsorloses a, main section .tradepoll .match .winsorloses a, main section .matchmain .tradecnt .winsorloses a, main section .matchmain .match .winsorloses a {
          color: #000; }
      main section.box .tradepoll .tradecnt hr, main section.box .tradepoll .match hr, main section.box .matchmain .tradecnt hr, main section.box .matchmain .match hr, main section .tradepoll .tradecnt hr, main section .tradepoll .match hr, main section .matchmain .tradecnt hr, main section .matchmain .match hr {
        width: 100%;
        border-bottom: 1px solid #e8e8e8; }
      main section.box .tradepoll .tradecnt .potwin, main section.box .tradepoll .match .potwin, main section.box .matchmain .tradecnt .potwin, main section.box .matchmain .match .potwin, main section .tradepoll .tradecnt .potwin, main section .tradepoll .match .potwin, main section .matchmain .tradecnt .potwin, main section .matchmain .match .potwin {
        color: #6fc34a;
        font-size: 20px;
        line-height: 10px;
        background: #e8e8e8;
        padding: 0.5em;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0; }
      main section.box .tradepoll .tradecnt .matchleft a > div:first-child, main section.box .tradepoll .tradecnt .matchleft a > div:last-child, main section.box .tradepoll .match .matchleft a > div:first-child, main section.box .tradepoll .match .matchleft a > div:last-child, main section.box .matchmain .tradecnt .matchleft a > div:first-child, main section.box .matchmain .tradecnt .matchleft a > div:last-child, main section.box .matchmain .match .matchleft a > div:first-child, main section.box .matchmain .match .matchleft a > div:last-child, main section .tradepoll .tradecnt .matchleft a > div:first-child, main section .tradepoll .tradecnt .matchleft a > div:last-child, main section .tradepoll .match .matchleft a > div:first-child, main section .tradepoll .match .matchleft a > div:last-child, main section .matchmain .tradecnt .matchleft a > div:first-child, main section .matchmain .tradecnt .matchleft a > div:last-child, main section .matchmain .match .matchleft a > div:first-child, main section .matchmain .match .matchleft a > div:last-child {
        position: relative;
        width: 40% !important;
        background: #e8e8e8;
        border: 1px solid #dbdbdb; }
        main section.box .tradepoll .tradecnt .matchleft a > div:first-child .teamtext, main section.box .tradepoll .tradecnt .matchleft a > div:last-child .teamtext, main section.box .tradepoll .match .matchleft a > div:first-child .teamtext, main section.box .tradepoll .match .matchleft a > div:last-child .teamtext, main section.box .matchmain .tradecnt .matchleft a > div:first-child .teamtext, main section.box .matchmain .tradecnt .matchleft a > div:last-child .teamtext, main section.box .matchmain .match .matchleft a > div:first-child .teamtext, main section.box .matchmain .match .matchleft a > div:last-child .teamtext, main section .tradepoll .tradecnt .matchleft a > div:first-child .teamtext, main section .tradepoll .tradecnt .matchleft a > div:last-child .teamtext, main section .tradepoll .match .matchleft a > div:first-child .teamtext, main section .tradepoll .match .matchleft a > div:last-child .teamtext, main section .matchmain .tradecnt .matchleft a > div:first-child .teamtext, main section .matchmain .tradecnt .matchleft a > div:last-child .teamtext, main section .matchmain .match .matchleft a > div:first-child .teamtext, main section .matchmain .match .matchleft a > div:last-child .teamtext {
          background: transparent; }
        main section.box .tradepoll .tradecnt .matchleft a > div:first-child .team, main section.box .tradepoll .tradecnt .matchleft a > div:last-child .team, main section.box .tradepoll .match .matchleft a > div:first-child .team, main section.box .tradepoll .match .matchleft a > div:last-child .team, main section.box .matchmain .tradecnt .matchleft a > div:first-child .team, main section.box .matchmain .tradecnt .matchleft a > div:last-child .team, main section.box .matchmain .match .matchleft a > div:first-child .team, main section.box .matchmain .match .matchleft a > div:last-child .team, main section .tradepoll .tradecnt .matchleft a > div:first-child .team, main section .tradepoll .tradecnt .matchleft a > div:last-child .team, main section .tradepoll .match .matchleft a > div:first-child .team, main section .tradepoll .match .matchleft a > div:last-child .team, main section .matchmain .tradecnt .matchleft a > div:first-child .team, main section .matchmain .tradecnt .matchleft a > div:last-child .team, main section .matchmain .match .matchleft a > div:first-child .team, main section .matchmain .match .matchleft a > div:last-child .team {
          height: 55px;
          border: 2px solid #b8b8b8;
          -moz-border-radius: 0;
          -webkit-border-radius: 0;
          border-radius: 0; }
      main section.box .tradepoll .tradecnt .matchleft a > div:first-child .team, main section.box .tradepoll .match .matchleft a > div:first-child .team, main section.box .matchmain .tradecnt .matchleft a > div:first-child .team, main section.box .matchmain .match .matchleft a > div:first-child .team, main section .tradepoll .tradecnt .matchleft a > div:first-child .team, main section .tradepoll .match .matchleft a > div:first-child .team, main section .matchmain .tradecnt .matchleft a > div:first-child .team, main section .matchmain .match .matchleft a > div:first-child .team {
        right: 0; }
    main section.box .tradepoll .ld-slidedown, main section.box .matchmain .ld-slidedown, main section .tradepoll .ld-slidedown, main section .matchmain .ld-slidedown {
      margin: 0 0 0.5em 0 !important; }
    main section.box .tradepoll .ld-steam-extra-wrapper .ld-steam-extra, main section.box .matchmain .ld-steam-extra-wrapper .ld-steam-extra, main section .tradepoll .ld-steam-extra-wrapper .ld-steam-extra, main section .matchmain .ld-steam-extra-wrapper .ld-steam-extra {
      background: #fff;
      border-bottom: 1px solid #e8e8e8;
      border-left: 0;
      margin-bottom: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0; }
      main section.box .tradepoll .ld-steam-extra-wrapper .ld-steam-extra::after, main section.box .matchmain .ld-steam-extra-wrapper .ld-steam-extra::after, main section .tradepoll .ld-steam-extra-wrapper .ld-steam-extra::after, main section .matchmain .ld-steam-extra-wrapper .ld-steam-extra::after {
        background-image: none; }
      main section.box .tradepoll .ld-steam-extra-wrapper .ld-steam-extra .ld-steam-info, main section.box .matchmain .ld-steam-extra-wrapper .ld-steam-extra .ld-steam-info, main section .tradepoll .ld-steam-extra-wrapper .ld-steam-extra .ld-steam-info, main section .matchmain .ld-steam-extra-wrapper .ld-steam-extra .ld-steam-info {
        border: none; }
        main section.box .tradepoll .ld-steam-extra-wrapper .ld-steam-extra .ld-steam-info .ld-steam-img, main section.box .matchmain .ld-steam-extra-wrapper .ld-steam-extra .ld-steam-info .ld-steam-img, main section .tradepoll .ld-steam-extra-wrapper .ld-steam-extra .ld-steam-info .ld-steam-img, main section .matchmain .ld-steam-extra-wrapper .ld-steam-extra .ld-steam-info .ld-steam-img {
          padding-top: 3px;
          margin-top: 0.4em;
          margin-left: 0.2em; }
          main section.box .tradepoll .ld-steam-extra-wrapper .ld-steam-extra .ld-steam-info .ld-steam-img img, main section.box .matchmain .ld-steam-extra-wrapper .ld-steam-extra .ld-steam-info .ld-steam-img img, main section .tradepoll .ld-steam-extra-wrapper .ld-steam-extra .ld-steam-info .ld-steam-img img, main section .matchmain .ld-steam-extra-wrapper .ld-steam-extra .ld-steam-info .ld-steam-img img {
            border: 2px solid #ff8a00; }
    main section.box .tradepoll .trade-description, main section.box .matchmain .trade-description, main section .tradepoll .trade-description, main section .matchmain .trade-description {
      width: 100%;
      padding: 1em;
      background: transparent;
      border-left: 2px solid #ff8a00;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0; }
      main section.box .tradepoll .trade-description a:hover, main section.box .tradepoll .trade-description a:active, main section.box .tradepoll .trade-description a:focus, main section.box .matchmain .trade-description a:hover, main section.box .matchmain .trade-description a:active, main section.box .matchmain .trade-description a:focus, main section .tradepoll .trade-description a:hover, main section .tradepoll .trade-description a:active, main section .tradepoll .trade-description a:focus, main section .matchmain .trade-description a:hover, main section .matchmain .trade-description a:active, main section .matchmain .trade-description a:focus {
        -moz-transition: ease 0s none;
        -o-transition: ease 0s none;
        -webkit-transition: ease 0s none;
        transition: ease 0s none;
        text-decoration: underline; }
      main section.box .tradepoll .trade-descriptiondiv, main section.box .matchmain .trade-descriptiondiv, main section .tradepoll .trade-descriptiondiv, main section .matchmain .trade-descriptiondiv {
        color: #000; }
      main section.box .tradepoll .trade-description p, main section.box .matchmain .trade-description p, main section .tradepoll .trade-description p, main section .matchmain .trade-description p {
        opacity: 1;
        border-left: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        color: #000; }
  main section.box article.standard#bets a, main section article.standard#bets a {
    color: #000;
    text-shadow: none; }
    main section.box article.standard#bets a:hover, main section.box article.standard#bets a:active, main section.box article.standard#bets a:focus, main section article.standard#bets a:hover, main section article.standard#bets a:active, main section article.standard#bets a:focus {
      color: #424242; }
  main section.box article.standard #betreturns, main section article.standard #betreturns {
    background: #fff;
    float: left;
    border-top: 2px solid #6fc34a;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0;
    border-radius: 0 0 3px 3px; }
    main section.box article.standard #betreturns .bpheader, main section article.standard #betreturns .bpheader {
      color: #5b5b5b;
      padding: 1em 1em 0 1em; }
  main section.box article.standard .bpheader, main section article.standard .bpheader {
    width: 100%;
    padding: 1em 0 0 0; }
    main section.box article.standard .bpheader .button, main section article.standard .bpheader .button {
      margin-left: 0; }

/* Items */
.tradepoll .left, .tradepoll .right {
  background: #fff;
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent; }
.tradepoll .left .oitm {
  float: right; }

.oitm .name {
  margin-top: 10px !important;
  border-top: 2px solid #ff8a00;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  -moz-box-shadow: 0 1px 2px rgba(168, 168, 168, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(168, 168, 168, 0.5);
  box-shadow: 0 1px 2px rgba(168, 168, 168, 0.5);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  min-width: 0 !important;
  background: #fff;
  color: #000;
  overflow: visible; }
  .oitm .name span, .oitm .name i, .oitm .name br, .oitm .name b {
    float: left;
    clear: both; }
  .oitm .name:after {
    content: "";
    float: left;
    position: absolute;
    background: transparent;
    width: 100%;
    height: 10px;
    top: -10px;
    left: 0; }
  .oitm .name:before {
    float: left;
    position: relative;
    top: -16px;
    left: 15%;
    height: 0;
    width: 0;
    content: "";
    border-left: 10px transparent solid;
    border-right: 10px transparent solid;
    border-bottom: 10px #ff8a00 solid; }
  .oitm .name a {
    color: #ff8a00 !important;
    text-shadow: none !important; }
    .oitm .name a:hover, .oitm .name a:active, .oitm .name a:focus {
      color: #cc6e00 !important; }
.oitm .item {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: rgba(168, 168, 168, 0.3); }
  .oitm .item .value, .oitm .item .rarity {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #000;
    text-shadow: none;
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
    padding: 1px 0; }
  .oitm .item .value {
    padding: 1px 4px; }
.oitm .item.Souvenir {
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  background: rgba(255, 206, 0, 0.4); }
.oitm .item.Star {
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  background: rgba(134, 80, 172, 0.3); }
.oitm .item.StatTrak {
  background: rgba(207, 106, 50, 0.3);
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent; }
  .oitm .item.StatTrak .clreff {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: rgba(235, 119, 55, 0.8) !important;
    text-shadow: none; }

/* Boxes */
.box-shiny-alt, .box-shiny, #satrade {
  padding: 1em !important;
  background: #fff;
  float: left;
  width: 100% !important;
  margin: 0;
  color: #000;
  text-shadow: none;
  -moz-box-shadow: 0 1px 2px rgba(168, 168, 168, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(168, 168, 168, 0.5);
  box-shadow: 0 1px 2px rgba(168, 168, 168, 0.5);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .box-shiny-alt .tradepoll, .box-shiny .tradepoll, #satrade .tradepoll {
    margin-top: 0.5em;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent; }
  .box-shiny-alt a.tab, .box-shiny a.tab, #satrade a.tab {
    color: #fff !important;
    background: #ff8a00;
    text-transform: uppercase;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }
    .box-shiny-alt a.tab:hover, .box-shiny a.tab:hover, #satrade a.tab:hover {
      background: #ffa133;
      color: #fff !important; }
    .box-shiny-alt a.tab:active, .box-shiny-alt a.tab:focus, .box-shiny a.tab:active, .box-shiny a.tab:focus, #satrade a.tab:active, #satrade a.tab:focus {
      background: #ffb966;
      color: #fff !important; }
    .box-shiny-alt a.tab:first-child, .box-shiny a.tab:first-child, #satrade a.tab:first-child {
      border-right: 1px solid #fff; }
  .box-shiny-alt a[href~="profiles"] + div, .box-shiny a[href~="profiles"] + div, #satrade a[href~="profiles"] + div {
    margin: 0 0.5em; }
  .box-shiny-alt #avatar, .box-shiny #avatar, #satrade #avatar {
    margin: 0; }
  .box-shiny-alt .button, .box-shiny .button, #satrade .button {
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0.5em; }
  .box-shiny-alt .srch input, .box-shiny .srch input, #satrade .srch input {
    text-transform: capitalize;
    width: 100% !important; }
  .box-shiny-alt input, .box-shiny input, #satrade input {
    width: 78% !important;
    float: left !important; }
  .box-shiny-alt input, .box-shiny-alt .srch input, .box-shiny input, .box-shiny .srch input, #satrade input, #satrade .srch input {
    margin: 0.5em 0;
    padding: 0.25em 0.5em;
    background: #fff;
    color: #000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #cecece;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent; }
    .box-shiny-alt input:focus, .box-shiny-alt .srch input:focus, .box-shiny input:focus, .box-shiny .srch input:focus, #satrade input:focus, #satrade .srch input:focus {
      color: #000;
      background: #fff;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-color: #ff8a00;
      outline: 0; }
  .box-shiny-alt select, .box-shiny select, #satrade select {
    margin: 0.5em 0 0 0.5em;
    padding: 0.25em 0.5em;
    background: #e8e8e8;
    color: #000;
    border: 1px solid #e8e8e8;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent; }
    .box-shiny-alt select:focus, .box-shiny select:focus, #satrade select:focus {
      color: #000;
      background: #e8e8e8;
      border: 1px solid #ff8a00;
      outline: 0; }
  .box-shiny-alt textarea, .box-shiny textarea, #satrade textarea {
    width: 100%;
    margin: 0.5em 0;
    padding: 1em;
    background: #fff;
    color: #000;
    border-left: 2px solid #ff8a00;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }
    .box-shiny-alt textarea:focus, .box-shiny textarea:focus, #satrade textarea:focus {
      outline: 0; }

.box-shiny-alt, .box-shiny {
  margin: 0 0 1em 0; }

.tabholder {
  width: 100%;
  margin: 0;
  padding: 1em 1em 0 1em;
  -moz-border-radius: 3px 0 3px 0;
  -webkit-border-radius: 3px;
  border-radius: 3px 0 3px 0; }
  .tabholder a.tab {
    -moz-box-shadow: 0 1px 2px rgba(168, 168, 168, 0.5);
    -webkit-box-shadow: 0 1px 2px rgba(168, 168, 168, 0.5);
    box-shadow: 0 1px 2px rgba(168, 168, 168, 0.5);
    color: #ff8a00;
    text-transform: uppercase;
    background: #fff;
    border-bottom: 1px solid #e8e8e8; }
    .tabholder a.tab:hover, .tabholder a.tab:active, .tabholder a.tab:focus {
      background: #f4f4f4;
      color: #ff8a00 !important; }
    .tabholder a.tab:last-child {
      -moz-border-radius: 0 3px 0 0;
      -webkit-border-radius: 0;
      border-radius: 0 3px 0 0; }
    .tabholder a.tab:first-child {
      -moz-border-radius: 3px 0 0 0;
      -webkit-border-radius: 3px;
      border-radius: 3px 0 0 0;
      border-right: #e8e8e8 1px solid; }

.full {
  width: 100%;
  margin: 0.5em 0;
  color: #000;
  text-shadow: none; }
  .full table {
    text-indent: 0 !important;
    width: 100%;
    margin: 0;
    background: #fff; }
    .full table tbody tr {
      border-bottom: 1px solid #fff; }
      .full table tbody tr td {
        vertical-align: middle;
        padding: 5px 5px; }
        .full table tbody tr td a {
          color: #6fc34a; }
        .full table tbody tr td:first-child {
          background-color: #6fc34a;
          border-right: 1px solid #fff;
          padding: 0; }
          .full table tbody tr td:first-child:hover {
            background-color: #8dd070; }
          .full table tbody tr td:first-child a {
            padding: 10px;
            color: #fff; }
        .full table tbody tr td[colspan="2"], .full table tbody tr td[colspan="6"] {
          padding: 5px 10px;
          border-bottom: 0;
          border-right: 0; }
        .full table tbody tr td[colspan="2"]:only-child {
          display: none; }
        .full table tbody tr td span.won {
          text-shadow: none;
          color: #6fc34a; }
        .full table tbody tr td span.lost {
          text-shadow: none;
          color: #C62828; }
      .full table tbody tr + tr[class], .full table tbody tr + tr[class] + tr[class] {
        -moz-transition: ease 0.3s all;
        -o-transition: ease 0.3s all;
        -webkit-transition: ease 0.3s all;
        transition: ease 0.3s all; }
      .full table tbody tr:nth-child(odd) {
        background: #fff; }
        .full table tbody tr:nth-child(odd) + tr[class] + tr[class] {
          border-top: 0; }
        .full table tbody tr:nth-child(odd) + tr[class], .full table tbody tr:nth-child(odd) + tr[class] + tr[class] {
          background: #fff;
          border-bottom: 0; }
          .full table tbody tr:nth-child(odd) + tr[class] td[colspan="2"], .full table tbody tr:nth-child(odd) + tr[class] td[colspan="6"], .full table tbody tr:nth-child(odd) + tr[class] + tr[class] td[colspan="2"], .full table tbody tr:nth-child(odd) + tr[class] + tr[class] td[colspan="6"] {
            background: #fff; }
      .full table tbody tr:nth-child(even) {
        background: #f2f2f2; }
        .full table tbody tr:nth-child(even) + tr[class] + tr[class] {
          border-top: 0; }
        .full table tbody tr:nth-child(even) + tr[class], .full table tbody tr:nth-child(even) + tr[class] + tr[class] {
          background: #f2f2f2;
          border-bottom: 0; }
          .full table tbody tr:nth-child(even) + tr[class] td[colspan="2"], .full table tbody tr:nth-child(even) + tr[class] td[colspan="6"], .full table tbody tr:nth-child(even) + tr[class] + tr[class] td[colspan="2"], .full table tbody tr:nth-child(even) + tr[class] + tr[class] td[colspan="6"] {
            background: #f2f2f2; }

#backpack, #itemlist {
  background: #fff;
  color: #000;
  margin-top: 0;
  padding: 0.5em 1em;
  -moz-box-shadow: 0 1px 2px rgba(168, 168, 168, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(168, 168, 168, 0.5);
  box-shadow: 0 1px 2px rgba(168, 168, 168, 0.5);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  #backpack .bpheader, #itemlist .bpheader {
    width: 100%;
    padding: 0.5 1em;
    background: transparent;
    font-weight: bold;
    text-transform: capitalize;
    border-top: 0;
    border-bottom: 2px solid #ff8a00;
    margin-bottom: 1em; }
    #backpack .bpheader div, #itemlist .bpheader div {
      color: #000 !important; }
  #backpack .full, #itemlist .full {
    margin: 0; }
  #backpack .inventoryStatisticsBox, #itemlist .inventoryStatisticsBox {
    padding: 1em;
    margin: 0 0 1em 0;
    background: #fff;
    float: left;
    width: 100%;
    color: #000;
    text-shadow: none;
    -moz-box-shadow: 0 1px 2px rgba(168, 168, 168, 0.5);
    -webkit-box-shadow: 0 1px 2px rgba(168, 168, 168, 0.5);
    box-shadow: 0 1px 2px rgba(168, 168, 168, 0.5);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    #backpack .inventoryStatisticsBox + .full, #itemlist .inventoryStatisticsBox + .full {
      margin: 0; }
  #backpack .standard a, #itemlist .standard a {
    text-shadow: none !important; }

.srch {
  width: 100%;
  margin: 0.5em 0; }
  .srch input {
    text-transform: capitalize;
    width: 50%;
    float: right;
    margin: 0;
    padding: 0.25em 0.5em;
    background: #fff;
    color: #000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #cecece;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent; }
    .srch input:focus {
      color: #000;
      background: #fff;
      border-color: #ff8a00;
      outline: 0; }

/* Bet table + LoungeStats */
#ajaxCont {
  padding: 1em !important;
  background: #fff;
  float: left;
  width: 100% !important;
  margin: 1em 0;
  color: #000;
  text-shadow: none;
  -moz-box-shadow: 0 1px 2px rgba(168, 168, 168, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(168, 168, 168, 0.5);
  box-shadow: 0 1px 2px rgba(168, 168, 168, 0.5);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  #ajaxCont hr {
    padding-top: 0.5em;
    width: 100%;
    border-color: #ff8a00; }
  #ajaxCont #loungestats_datacontainer #loungestats_fullscreenbutton {
    margin-top: 0;
    height: auto; }
  #ajaxCont #loungestats_datacontainer #loungestats_stats_text a {
    color: #6fc34a; }

header {
  background-image: none;
  background-position: 300px -170px;
  background-color: #252d3a;
  -moz-box-shadow: 0 1px 2px rgba(168, 168, 168, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(168, 168, 168, 0.5);
  box-shadow: 0 1px 2px rgba(168, 168, 168, 0.5); }
  header a img#logo {
    -webkit-filter: brightness(1000);
    filter: brightness(1000); }
  header nav#menu a {
    min-height: 53px;
    color: #fff;
    font-weight: bold;
    text-shadow: none;
    text-transform: capitalize;
    width: 90px;
    padding: 0 5px 5px 5px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }
    header nav#menu a:hover, header nav#menu a:active, header nav#menu a:focus {
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      background-color: rgba(255, 255, 255, 0.2); }
    header nav#menu a img {
      -webkit-filter: grayscale(1) brightness(1000);
      filter: grayscale(1) brightness(1000); }

aside#submenu {
  background: transparent; }
  aside#submenu nav {
    margin-top: 0.5em; }
    aside#submenu nav a {
      background: #fff;
      color: #5b5b5b;
      margin-bottom: 0.25em;
      border-bottom: 2px solid #fff;
      border-top: 2px solid #fff; }
      aside#submenu nav a:hover {
        background: #f4f4f4;
        border-bottom-color: #ff8a00;
        border-top-color: #f4f4f4;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0; }
  aside#submenu #follow a {
    opacity: 1;
    -webkit-filter: brightness(100) saturate(0);
    filter: brightness(100) saturate(0); }
    aside#submenu #follow a:hover {
      -webkit-filter: brightness(50) saturate(0);
      filter: brightness(50) saturate(0);
      opacity: 0.6; }
  aside#submenu #follow a#ftw:hover {
    background-position: 0 0 !important; }
  aside#submenu #follow a#ffb:hover {
    background-position: -44px 0 !important; }
  aside#submenu #follow a#fvk:hover {
    background-position: -79px 0 !important; }
  aside#submenu footer {
    margin-top: -30px;
    text-align: right; }
    aside#submenu footer a:hover {
      color: #cc6e00; }

a.button.destroyer, .button {
  padding: 8px 10px;
  margin: 0 0.5em 0 0;
  background: #fff;
  color: #ff8a00 !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px !important;
  border: none;
  text-shadow: none !important;
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent; }
  a.button.destroyer:hover, .button:hover {
    background: #ff8a00;
    color: #fff !important;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent; }
  a.button.destroyer:active, a.button.destroyer:focus, .button:active, .button:focus {
    background: #ff8a00;
    color: #fff !important;
    -moz-box-shadow: 0 2px 3px rgba(130, 130, 130, 0.5);
    -webkit-box-shadow: 0 2px 3px rgba(130, 130, 130, 0.5);
    box-shadow: 0 2px 3px rgba(130, 130, 130, 0.5); }

.buttonright {
  padding: 8px 10px;
  margin: 0 0 0 0.5em;
  background: #ff8a00;
  color: #fff !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px !important;
  border: none;
  text-shadow: none !important;
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent; }
  .buttonright:hover {
    background: #ffa133;
    color: #fff !important;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent; }
  .buttonright:active, .buttonright:focus {
    background: #ffa133;
    color: #fff !important;
    -moz-transition: ease 0.3s all;
    -o-transition: ease 0.3s all;
    -webkit-transition: ease 0.3s all;
    transition: ease 0.3s all;
    -moz-box-shadow: 0 2px 3px rgba(130, 130, 130, 0.5);
    -webkit-box-shadow: 0 2px 3px rgba(130, 130, 130, 0.5);
    box-shadow: 0 2px 3px rgba(130, 130, 130, 0.5); }

.matchmain a.button.destroyer, .matchmain .button, .matchmain .buttonright, .bpheader a.button.destroyer, .bpheader .button, .bpheader .buttonright {
  background: #6fc34a;
  color: #fff !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent; }
  .matchmain a.button.destroyer:hover, .matchmain .button:hover, .matchmain .buttonright:hover, .bpheader a.button.destroyer:hover, .bpheader .button:hover, .bpheader .buttonright:hover {
    color: #6fc34a;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent; }
  .matchmain a.button.destroyer:active, .matchmain a.button.destroyer:focus, .matchmain .button:active, .matchmain .button:focus, .matchmain .buttonright:active, .matchmain .buttonright:focus, .bpheader a.button.destroyer:active, .bpheader a.button.destroyer:focus, .bpheader .button:active, .bpheader .button:focus, .bpheader .buttonright:active, .bpheader .buttonright:focus {
    background: #58a436;
    -moz-box-shadow: 0 2px 3px rgba(130, 130, 130, 0.5);
    -webkit-box-shadow: 0 2px 3px rgba(130, 130, 130, 0.5);
    box-shadow: 0 2px 3px rgba(130, 130, 130, 0.5); }

.matchheader .buttonright {
  background: #58a436;
  color: #fff !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent; }
  .matchheader .buttonright:hover {
    background: #437d2a;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent; }
  .matchheader .buttonright:active, .matchheader .buttonright:focus {
    background: #437d2a; }

.tradepoll .tradeheader span a.button {
  float: left !important; }

.box-shiny-alt .button {
  float: right; }
  .box-shiny-alt .button:nth-child(7), .box-shiny-alt .button:nth-child(8) {
    margin-top: 1em; }
